.pull-right
  = image_tag "#{@authentication.provider}_logo.png"
%h3
  = @authentication.provider.capitalize
  Dashboard
%b Please choose an action:
%br

%p Cases available in the first case filter:
%p Available Labels
%p Create 'Prove it'
%p Assign to first case
